@use '../constants';
$size: min(70vh, 60vw);

#gallery {
    width:$size;
    height:$size;
	position: relative;
	background-color: lighten(constants.$main-color, 40%);
	overflow: hidden;
	img {
		transition: 1s;
		max-width:100%;
		max-height: 100%;
		object-fit: scale-down;
		position:absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		&.rightimg {
			left: 150%;
		}
		&.leftimg {
			left: -50%;
		}
	}
}

#gallery-shell {
	display: flex;
	justify-content: center;
}

h1 {
	text-align: center;
}

.navbtn {
	width:3vw;
	transition: 0.2s;
	font-size: 4em;
	border: 0;
	background-color: constants.$main-color;
	&:hover {
		background-color: lighten(constants.$main-color, 10%);
	}
	&:active {
		background-color: lighten(constants.$main-color, 30%);
	}
}

#prvgal {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#nxtgal {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.main_container {
	margin: auto;
	width: 80%;
}

