build
node_modules
source/config.ts
public/**
files
static/**
.vs
.vscode

# HTTPS certs, shouldn't appear on git considering every system should have its own
**/server.cert
**/server.key

# Docker Compose secrets, should not appear on git
db_password.txt
db_root_password.txt
admin_password.txt