<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div class="header">
        <%- include('../misc/header') %>
        
    </div>
    <div class="main_container">

        <div class="listings">
            <h1 id="subcategory_name"><%- subsection.name %></h1>
            <ul id="subcategory_list">
				<% subsection.listings.forEach(listings => { %>
                    <% if (listings.status === "on") { %>
                        <a href='/listing/item?listingId=<%=listings.id%>'><%- listings.title %></a>
                    <% } %>
				<% }) %>
			</ul>
        </div>

    </div>
</body>
</html>