<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lapa/headerstyle.css">
    <title></title>
</head>
<body>
    <div class="header">
        <%- include('./misc/header') %>
    </div>
    <div class="main_container">
		<form id="loginform">
			<label for="username">Username</label><br>
			<input type="text" id="username" name="username"><br>
			<label for="password">Username</label><br>
			<input type="text" id="password" name="password"><br>
			<a href=<%-loginAttempt%>><label for="login_attempt">Login</label></a>
			<a href=<%-signUpRedirect%>><label for="sign_up">Sign up</label></a><br>
		</form>
            
    </div>
</body>
</html>