<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/lapa/image_upload.css">
	<script src="/lapa/client.js", type="module"></script>
	<title>Update section</title>
</head>
<body>
	<div class="header">
        <%- include('../misc/header') %>
    </div>
	<form id="updateSection">
		<label for="section_name">Section name</label>
		<input type="text" id="section_name" name="section_name" value="<%=oldsectionname%>" required>
	</form>
	<button id="updatesection" value="Up">Update</button><br>
	<button id="delete_section">DELETE!!!!!!!</button><br>
	<a href="/section/edit" id="returntosection">Return to sections</button><br><br>
</body>