<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/lapa/image_upload.css">
	<script src="/lapa/client.js", type="module"></script>
	<title>Create section</title>
</head>
<body>
	<div class="header">
        <%- include('../misc/header') %>
    </div>
	<div class="main_container">
		<form id="createSection" action="/section" method="post">
			<label for="section_name"><%-lang.admin.sec_name%></label>
			<input type="text" id="section_name" name="section_name" required>
			<label for="lv_section_name"><%-lang.admin.lv_sec_name%></label>
			<input type="text" id="lv_section_name" name="lv_section_name" required>
			<input type="submit" value="Submit"> 
		</form>
	</div>
</body>