@use '../constants';

.main_container {
	margin: auto;
	width: 80%;
}

#subcategory_list {
	display: grid;
	button {
		position: relative;
		width: 100%;
		border-radius: 0;
		border: 0;
		background-color: lighten(constants.$main-color, 40%);
		transition: 0.2s;
		cursor: pointer;
		height: 4rem;
		&:focus, &:hover{
			background-color: lighten(constants.$main-color, 10%);
		}

		&:active{
			background-color: lighten(constants.$main-color, 20%);
		}

		.listingprice {
			position: absolute;
			left: 2%;
			bottom: 5%;
		}
		
		.createdat {
			position: absolute;
			right: 2%;
			bottom: 5%;
		}
	}
	a {
		margin: 1px;
	}
}

button {
	background-color: lighten(constants.$main-color, 10%);
	border: 0px;
	border-radius: 6px;
}

.filterbar {
	margin-top: 2vh;
	margin-bottom: 2vh;
}
