@use '../constants';

.main_container {
	margin: auto;
	width: 80%;
}

#subcategory_list {
	display: grid;
	button {
		width: 100%;
		border-radius: 0;
		border: 0;
		background-color: lighten(constants.$main-color, 40%);
		transition: 0.2s;
		cursor: pointer;
		height: 4rem;
		&:focus, &:hover{
			background-color: lighten(constants.$main-color, 10%);
		}
	}
	a {
		margin: 1px;
	}
}