@use '../constants';


.listingitem button {
	position: relative;
	width: 100%;
	border-radius: 0;
	border: 0;
	background-color: lighten(constants.$main-color, 40%);
	transition: 0.2s;
	cursor: pointer;
	height: 12rem;
	font-size: 3rem;
	&:focus, &:hover{
		background-color: lighten(constants.$main-color, 10%);
	}

	&:active{
		background-color: lighten(constants.$main-color, 20%);
	}
	.listingprice {
		position: absolute;
		left: 2%;
		bottom: 5%;
		font-size: 1rem;
	}
	
	.createdat {
		position: absolute;
		right: 2%;
		bottom: 5%;
		font-size: 1rem;
	}

	.listingimage img {
		position: absolute;
		top:4%;
		left: 1%;
		max-height: 70%;
		max-width: 20%;

	}
	margin-top: 4vh;
}